#dl center > div {
    display: flex;
    justify-content: center;
    align-items: center;
    #download {
        margin-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        .content-bar {
            position: relative;
            height: 9.2px;
            margin-right: 1rem;
            width: 100px;
            .bar {
                height: 10px;
                border-radius: 5px;
                position: absolute;
                top: 0;
                left: 0;
            }
            .bar-show {
                background-color: green;
                z-index: 1;
                transition: 0.3s;
            }
            .bar-back {
                width: 100px;
                background-color: grey;
                box-shadow: 0 0 3px 1px grey;
            }
        }
    }
}
